# Ignore backup files
**/*.bkp
**/*.bak

# See http://help.github.com/ignore-files/ for more about ignoring files.
bun.lockb

**/.vscode/settings.json

# Remove any sensitive data
**/keys/*.json
!**/keys/*template.json
.env*


# Untrack yaci and translucent.
libs/translucent
dev/yaci-devkit

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache

# Package lock
# BUG:  DO NOT UNCOMMENT! As NX reads .gitignore and skips their entries
# **/package-lock.json
**/bun.lockb

**/public/genesis-config.json
