{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    }
  ]
}

