  .mr-wallet-button {
    background-color: #ffbf04 !important; /* Dark background color */
    color: #000 !important; /* Light text color */
    border-radius: 32px !important; /* Rounded corners */
    padding: 10px 20px !important; /* Padding */
    font-size: 16px !important; /* Font size */
    cursor: pointer !important; /* Show pointer cursor on hover */
  }

 .mr-menu-list {
    background-color: #1f1f1f; /* Dark background color */
    color: #ffbf04; /* Light text color */
    border-radius: 16px; /* Rounded corners */
    padding: 10px; /* Padding */
    border-color: "#000";
    font-size: 8px; /* Font size */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  
 .mr-menu-list span {
    display: block; /* Make spans block elements */
    padding: 8px 0; /* Add padding */
    font-size: 2em;
    line-height: 2em;
    border-bottom: 1px solid #fff; /* Add border bottom */
  }
  
 .mr-menu-list span:last-child {
    border-bottom: none; /* Remove border bottom from last span */
  }
  
  