# macOS folder metadata
.DS_Store

# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/

*.lock


# Plutus json
plutus.json
