.minting-dialog {
  background-color: var(--at-background);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  border: 3px solid var(--at-secondary);;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.mint-dialog-header {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.mint-dialog-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  text-align: center;
}

.mint-dialog-footer {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.minting-dialog__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.minting-dialog__handle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 8px;
}

.minting-dialog__rarity {
  background-color: #ff0006;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 8px;
  display: inline-block;
  margin-bottom: 16px;
  font-size: 12px;
}

.minting-dialog__handle-rarity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.minting-dialog__deposit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.minting-dialog__deposit-label {
  display: flex;
  align-items: center;
}

.minting-dialog__deposit-amount {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}


.minting-dialog__note {
  font-size: 12px;
  margin-bottom: 24px;
}

.minting-dialog__button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin: 0 8px;
}

.minting-dialog__button--mint {
  background-color: var(--at-secondary); /* #4caf50;*/
  color: var(--on-secondary) ; /*#ffffff;*/
  border-radius: 50px; /* increase the border-radius for a fully rounded button */
  padding: 16px 32px; /* increase the padding to make the button bigger */
  font-size: 16px; /* increase the font size */
  /*font-weight: bold;*/
  transition: background-color 0.2s ease-in-out;
}

.minting-dialog__button--mint:hover {
  /*background-color: var(--at-secondary); /#4caf50;*/
  fill-opacity: 0.25;
}

.minting-dialog__icon-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  transition: background-color 0.2s ease-in-out;
  border-radius: 50%;
}

.minting-dialog__icon-button:hover {
  /*background-color: #f1f1f1;*/
  background-color: rgba(248, 248, 248, 0.25);

}

.minting-dialog__icon-button svg {
  vertical-align: middle;
}



.minting-dialog__icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}



.minting-dialog__adahandle {
  margin-top: 40px;
  margin-bottom: 40px;
}
.minting-dialog__adahandle input[type="checkbox"] {
  display: none;
}

.minting-dialog__adahandle label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.minting-dialog__adahandle label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: transparent;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.minting-dialog__adahandle input[type="checkbox"]:checked + label::before {
  border-color: #4caf50;
  background-color: #4caf50;
}

.minting-dialog__adahandle input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}
