/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/poppins-400.woff2?v=1) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/poppins-500.woff2?v=1) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/poppins-700.woff2?v=1) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: hsl(200, 70%, 50%);
    --background: hsl(220, 30%, 95%);
    --on-background: hsl(210, 15%, 30%);
    --primary: hsl(240, 50%, 80%);
    --on-primary: hsl(210, 25%, 15%);
    --secondary: var(--brand);
    --on-secondary: hsl(210, 10%, 90%);
    --accent: hsl(30, 100%, 70%);
  }


  @media (prefers-color-scheme: dark) {
    :root {
      --at-background: hsl(213, 100%, 12%);
      --at-on-background: hsl(221, 100%, 92%);
      --at-primary: hsl(232, 42%, 15%);
      --at-on-primary: hsl(0, 0%, 100%);
      --at-secondary: var(--brand);
      --at-on-secondary: hsl(0, 3%, 13%);
      --accent1: hsl(6, 100%, 80%);
    }
  }

  :root[data-theme='dark'] {
    --at-background: hsl(213, 100%, 12%);
    --at-on-background: hsl(221, 100%, 92%);
    --at-primary: hsl(232, 42%, 15%);
    --at-on-primary: hsl(0, 0%, 100%);
    --at-secondary: var(--brand);
    --at-on-secondary: hsl(0, 3%, 13%);
    --accent1: hsl(6, 100%, 80%);
  }

  :root[data-theme='light'] {
    --at-background: hsl(270, 100%, 99%);
    --at-on-background: hsl(213, 100%, 12%);
    --at-primary: hsl(0, 0%, 100%);
    --at-on-primary: hsl(160, 39%, 9%);
    --at-secondary: var(--brand);
    --at-on-secondary: hsl(0, 0%, 100%);
    --accent1: hsl(6, 100%, 80%);
  }

  html {
    @apply bg-primary scroll-smooth text-onPrimary transition-colors duration-300;
  }

  body {
    @apply max-w-[1200px] mx-auto transition-all duration-200;
  }
}

/* Theme indepenend properties */
:root {
  --header-height: 80px;
}

html {
  line-height: 1.1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    Poppins,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol,
    'Noto Color Emoji';
  overflow: auto;
}

[data-theme='light'] .adatag-logo-text {
  filter: invert(1);
}

.purple-gradient {
  position: fixed;
  width: 1400px;
  height: 800px;
  top: 100px;
  right: -400px;
  background: radial-gradient(
    57.58% 57.58% at 48.79% 42.42%,
    rgba(24, 180, 244, 0.5) 0%,
    rgba(46, 55, 114, 0) 63.22%
  );
  transform: rotate(5deg);
  z-index: -1;
}

.blue-gradient {
  position: fixed;
  width: 1400px;
  height: 1200px;
  top: 600px;
  left: -200px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(172, 127, 244, 0.5) 0%,
    rgba(21, 25, 52, 0) 100%
  );
  transform: rotate(-5deg);
  z-index: -1;
}

/* --------------- HEADINGS ------------- */
h1,
h2,
h3 {
  /* color: white; Should be on-primary */
  margin: 0;
}

.highlight {
  color: var(--at-secondary);
}

h1 {
  font-weight: 700;
  text-align: center;
}
h1 .highlight,
h3 .highlight {
  color: var(--at-secondary);
}

h2 {
  font-weight: 700;
  font-size: 2.4rem;
}
h2 {
  font-weight: 600;
}
h2 .highlight {
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

/* ---------- INPUTS ------------*/
.empty {
  color: white;
  display: block;
}

.input {
  color: var(--brand);
  border-radius: 8px;
 /* padding: 15px 25px;*/
  margin-right: 10px;
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  .input {
    padding: 23px 35px;
    margin-right: 20px;
    font-size: 1rem;
  }
}

.hint {
  font-size: 0.8rem;
  color: white;
  margin-top: 30px;
}

/* BUTTONS -------------------------------------- */
a.button,
button {
  background: var(--at-secondary);
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 15px 25px;
  text-align: center;
}

a.button.button-dark,
button.button-dark {
  background: var(--at-secondary);
}

a.button.button-small,
button.button-small {
  padding: 15px 25px;
}

@media screen and (min-width: 768px) {
  a.button,
  button {
    font-size: 1rem;
    padding: 23px 35px;
  }
}
